

.botao-fixo{
    border-radius: 100%;
    color: white;
    border: none;
    height: 50px;
    width:50px;
    background-color: #16104a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left:93%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.botao-fixo:hover{
    cursor:pointer;
    background-color: #0e082b;
}

@media screen and (max-width:912px){
    .botao-fixo{
        top: 80%;
        min-width: 40px;
        min-height: 40px;
        height: 50px;
        width:50px;
        left: 80vw;
        box-shadow: 0 10 10px #eee;
        border-bottom: 10px;
        border: #03324a;
    }

}